# 07 데이터를 리스트와 튜플로 묶어보자

- 여러 개의 데이터를 하나로 묶어서 처리하는 리스트와 튜플을 배워 봅시다. 
- 리스트나 튜플의 항목들을 인덱스를 이용해서 접근해 봅시다. 
- 리스트는 가변속성을 갖고 튜플은 불변속성을 가집니다. 이를 상세하게 알아봅시다. 
- 리스트나 튜플 같이 데이터가 연속해서 나타나는 것을 시퀀스라고 합니다. 
- 시퀀스의 일부를 잘라내는 슬라이싱을 익혀 봅시다. 
- 슬라이싱을 이용하여 효율적으로 데이터를 다루도록 연습해 봅시다. 
- 복잡한 기능의 자료형을 설계하고 만드는 객체지향 개념을 살펴봅시다.

## 7.1 
다음과 같이 파이썬 프로그램을 실행할 적에, 다음 밑줄 안에 들어갈 알맞은 결과는 무엇인가? 미리 예측해본 후 실행시켜보고 그 결과를 적어라.

```
num_list = [100, 200, 300, 400, 500, 600, 700, 800]
high = 6
low = 3
```

In [ ]:
num_list = [100, 200, 300, 400, 500, 600, 700, 800]
high = 6
low = 3

In [ ]:
num_list[high]  # (1)

In [ ]:
num_list[high - 2]  # (2)

In [ ]:
num_list[high - low]  # (3)

In [ ]:
num_list[low - high] # (4)

In [ ]:
num_list[-1] # (5)

In [ ]:
num_list[-low] # (6)

In [ ]:
num_list[2 * 3] # (7)

In [ ]:
num_list[2] * 3 # (8)

In [ ]:
num_list[5 % 4] # (9)

In [ ]:
len(num_list) # (10)

In [ ]:
min(num_list) # (11)

In [ ]:
max(num_list) # (12)

In [ ]:
num_list[:3] # (13)

In [ ]:
num_list[1:5] # (14)

In [ ]:
num_list[-1:-5:-1] # (15)

In [ ]:
num_list[-5:-1:1] # (16)

## 7.2 
다음과 같은 list1, list2가 있을 경우 이중 for 루프를 사용하여 list1과 list2의 각 원소를 곱한 후 원소의 곱셈을 아래와 같이 출력하여라.
```
list1 = [3, 5, 7]
list2 = [2, 3, 4, 5, 6]

3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
...
```

# 7.4 
다음의 코드에서 잘못된 부분은 무엇인가? 어떤 이유에서 오류가 발생하는지 설명하라.

```
t = (10, 20, 30, 40)
t.append(50)
```

```
t = (10, 20, 30, 40)
t.remove(40)
```

```
t =(10, 20, 30, 40)
t[0] = 0
```

## 7.7 
`fruit_list = ['banana', 'orange', 'kiwi', 'apple', 'melon']` 라는 리스트가 존재한다. 이 리스트에 대하여 다음과 같은 작업을 수행하여라.

1) 1) 이 fruit_list에서 가장 길이가 긴 문자열을 찾아서 출력하고 이 리스트에서 삭제하라. 이 때 동일한 길이의 문자열이 있을 경우 이들을 모두 삭제하라.
```
가장 길이가 긴 문자열 : banana, orange
fruit_list = ['kiwi', 'apple', 'melon']
```

In [ ]:
fruit_list = ['banana', 'orange', 'kiwi', 'apple', 'melon']

2) 이 fruit_list와 for 제어문을 이용하여 다음과 같은 문장을 출력하여라.
```
banana : 문자열의 길이 6
orange : 문자열의 길이 6
kiwi : 문자열의 길이 4
apple : 문자열의 길이 5
melon : 문자열의 길이 5
```

# 08 연관된데이터를딕셔너리로짝을짓자

- 키를 이용해서 값을 추출할 수 있는 딕셔너리에 대하여 알아봅시다. 
- 딕셔너리의 다양한기능과 메소드에 대하여 알아봅시다. 
- 딕셔너리를 사용하여 여러가지 문제를 해결해 봅시다. 
- 자료값의 중복을 허용하지 않는 순서가없는 자료형인 집합에 대하여 알아봅시다. 
- 합집합, 교집합등 집합에 적용할 수 있는 편리한 연산을 알아봅시다. 
- 집합을 이용하여 중복된 자료를 편리하게 제거하는 방법을 알아봅시다. 
- 파이썬의 강력한 자료 구조를 사용한 문제해결 기법을 익혀봅시다.

## 8.1
철수네 과일가게는 "사과", "배", "수박", "귤", "포도"를 판매하는 중이다. 매일 매일 입고되는 가격에 따라서 가격이 결정되므로 아침마다 각 과일의 가격을 입력하는 기능을  만들어서 입력하면 이를 출력하여 다음과 같이 표현하고자 한다. 이와 같은 기능을 수행하는 파이썬 프로그램을 작성하여라. 이때 {'사과' : 3000}과 같이 입력된 값을 키-값의 쌍으로 된 fruits_price 딕셔너리에 추가한 후 for 문과 keys() 메소드를 사용하여 출력하도록 하여라.

```
사과, 배, 수박, 귤, 포도 가격을 공백으로 구분하여 입력: 3000 4500 6000 2400 3400
------------ 오늘의 과일 가격 ------------
사과   : 3000원
배    : 4500원
수박  : 6000원
귤    : 2400원
포도  : 3400원
```

In [ ]:
fruits = ['사과', '배', '수박', '귤', '포도']
fruit_prices = input('사과, 배, 수박, 귤, 포도 가격을 공백으로 구분하여 입력: ').split()

## 
8.3
학번, 이름, 전화번호의 3 쌍의 요소를 가지는 `student_tup` 라는 튜플이 다음과 같이 존재한다.
```
student_tup = (('241101', '박동윤', '010-1234-4500'), 
               ('241102', '김은지', '010-2230-6540'), 
               ('241103', '이지은', '010-3232-7788'))
```
1) 이 튜플을 수정하여 {학번 : [이름, 전화번호]}의 쌍으로 이루어진 딕셔너리를 만들어서 출력하여라.

```
학생의 정보 목록
{'241101': ['박동윤', '010-1234-4500']}
{'241102': ['김은지', '010-2230-6540']}
{'241103': ['이지은', '010-3232-7788']}
```

In [ ]:
student_tup = (('241101', '박동윤', '010-1234-4500'), 
               ('241102', '김은지', '010-2230-6540'), 
               ('241103', '이지은', '010-3232-7788'))
student_dict = {}
for student in student_tup:
    # print(student[0], list(student[1:]))
    student_dict[student[0]] = list(student[1:])

print('학생의 정보 목록')
student_dict

2) 이 정보를 이용하여 학생의 학번을 입력으로 받아서 이름과 전화번호를 출력하는 학사 정보 프로그램을 작성하여라.
```
학번을 입력하세요:  241103
이름: 이지은
전화번호: 010-3232-7788
```

3) `student_tup`의 마지막 항목을 직전학기의 학점을 추가하여라.  학생의 학점은 각각 4.3, 3.9, 4.25이다.   
   이 정보를 바탕으로 다음과 같은 딕셔너리를 만들어서 학생 정보를 출력하여라.
```
학생의 정보 목록
{'211101': ['박동윤', '010-1234-4500', 4.3]}
{'211102': ['김은지', '010-2230-6540', 3.9]}
{'211103': ['이지은', '010-3232-7788', 4.25]}
```

4) 문제3)의 정보를 이용하여 for 반복문과 인덱싱을 통해서 3 학생의 학점의 평균값을 다음과 같이 출력하여라.
```
전체 학생의 학점 평균 : 4.15
```