# 12 판다스 - 심화문제

## 12.1
이장에서 사용한 `weather.csv`를 읽어서 다음과 같은 일을 처리해 보자.

In [4]:
# 필요한 패키지를 불러온다
import pandas as pd

# weather.csv를 읽는다
df = pd.read_csv("weather.csv", encoding = 'cp949', index_col = 0)
print(df)

            평균기온(°C)  최대 풍속(m/s)  평균 풍속(m/s)
일시
2010-08-01      28.7         8.3         3.4
2010-08-02      25.2         8.7         3.8
2010-08-03      22.1         6.3         2.9
2010-08-04      25.3         6.6         4.2
2010-08-05      27.2         9.1         5.6
...              ...         ...         ...
2020-07-27      22.1         4.2         1.7
2020-07-28      21.9         4.5         1.6
2020-07-29      21.6         3.2         1.0
2020-07-30      22.9         9.7         2.4
2020-07-31      25.7         4.8         2.5

[3653 rows x 3 columns]

1) 앞의 세개 행과 마비막 세개 행을 화면처럼 나타내어라.
```
            평균기온(°C)  최대 풍속(m/s)  평균 풍속(m/s)
일시                                          
2010-08-01      28.7         8.3         3.4
2010-08-02      25.2         8.7         3.8
2010-08-03      22.1         6.3         2.9

            평균기온(°C)  최대 풍속(m/s)  평균 풍속(m/s)
일시                                          
2020-07-27      22.1         4.2         1.7
2020-07-28      21.9         4.5         1.6
2020-07-29      21.6         3.2         1.0
2020-07-30      22.9         9.7         2.4
2020-07-31      25.7         4.8      
```

In [10]:
### 앞의 세행 - head()
print(df.head(3))

            평균기온(°C)  최대 풍속(m/s)  평균 풍속(m/s)
일시
2010-08-01      28.7         8.3         3.4
2010-08-02      25.2         8.7         3.8
2010-08-03      22.1         6.3         2.9

In [9]:
# 뒤의 세행 - tail() 
print(df.tail(3))

            평균기온(°C)  최대 풍속(m/s)  평균 풍속(m/s)
일시
2020-07-29      21.6         3.2         1.0
2020-07-30      22.9         9.7         2.4
2020-07-31      25.7         4.8         2.5

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3653 entries, 2010-08-01 to 2020-07-31
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   평균기온(°C)    3653 non-null   float64
 1   최대 풍속(m/s)  3649 non-null   float64
 2   평균 풍속(m/s)  3647 non-null   float64
dtypes: float64(3)
memory usage: 114.2+ KB

2) 2015년 6월 6일 울릉도 평균 기온과 풍속 정보를 다음과 같이 확인해 보라

```
평균기온(°C)      16.6
최대 풍속(m/s)     4.4
평균 풍속(m/s)     1.9
Name: 2015-06-06, dtype: float64
```

In [13]:
df.loc['2015-06-06']

평균기온(°C)      16.6
최대 풍속(m/s)     4.4
평균 풍속(m/s)     1.9
Name: 2015-06-06, dtype: float64

3) 이 데이터에 기록된 날들 중 가장 무더웠던 날의 평균기온이 얼마였는지 찾아보라

In [17]:
# 평균기온의 최대 값 - max()
df['평균기온(°C)'].max()

31.3

4) 가장 더웠던 날은 언제이고 이날의 기온, 풍속, 등을 확인하라.
```
            평균기온(°C)  최대 풍속(m/s)  평균 풍속(m/s)
일시                                          
2013-08-08      31.3         7.8         4.6
```

In [20]:
# 논리 인덱싱...
print(df[df['평균기온(°C)'] == df['평균기온(°C)'].max()])

            평균기온(°C)  최대 풍속(m/s)  평균 풍속(m/s)
일시
2013-08-08      31.3         7.8         4.6

5) 울릉도 평균기온이 30도를 넘는 날 들을 찾아서 기상 데이터를 확인하라.
```
            평균기온(°C)  최대 풍속(m/s)  평균 풍속(m/s)
일시                                          
2013-08-08      31.3         7.8         4.6
2013-08-09      30.6         9.9         6.4
2013-08-10      30.6         7.4         3.8
2018-07-23      30.5         6.5         1.6
2018-08-04      30.3         5.8         3.0
```

In [21]:
# 논리 인덱싱...
df[df['평균기온(°C)'] > 30]

            평균기온(°C)  최대 풍속(m/s)  평균 풍속(m/s)
일시
2013-08-08      31.3         7.8         4.6
2013-08-09      30.6         9.9         6.4
2013-08-10      30.6         7.4         3.8
2018-07-23      30.5         6.5         1.6
2018-08-04      30.3         5.8         3.0

## 12.2
다음은 P 자동차회사의 자종별 마력, 총중량, 그리고 여니를 나타낸 표이다.

```
'name'        : ['A',   'B',  'C',  'D',  'E',  'F', 'G']
'horse power' : [ 130,  250,  190, 300,  210,  220,  170]
'weight'      : [ 1.9,  2.6,  2.2, 2.9,  2.4,  2.3,  2.2]
'efficiency'  : [16.3, 10.2, 11.1, 7.1, 12.1, 13.2, 14.2]
```

이 표를 데이터프레임으로 만들어라. 

```
  name  horse power  weight  efficiency
0    A          130     1.9        16.3
1    B          250     2.6        10.2
2    C          190     2.2        11.1
3    D          300     2.9         7.1
4    E          210     2.4        12.1
5    F          220     2.3        13.2
6    G          170     2.2        14.2  
```

In [22]:
# 데이터 프레임은 dict를 이용해서 만든다.
df_P = pd.DataFrame({
    'name'        : ['A',   'B',  'C',  'D',  'E',  'F', 'G'],
    'horse power' : [ 130,  250,  190, 300,  210,  220,  170],
    'weight'      : [ 1.9,  2.6,  2.2, 2.9,  2.4,  2.3,  2.2],
    'efficiency'  : [16.3, 10.2, 11.1, 7.1, 12.1, 13.2, 14.2]
})

print(df_P)

  name  horse power  weight  efficiency
0    A          130     1.9        16.3
1    B          250     2.6        10.2
2    C          190     2.2        11.1
3    D          300     2.9         7.1
4    E          210     2.4        12.1
5    F          220     2.3        13.2
6    G          170     2.2        14.2

1) 이 데이터 프레임의 `name`열을 인덱스롤 만들어라.
```
      horse power  weight  efficiency
name                                 
A             130     1.9        16.3
B             250     2.6        10.2
C             190     2.2        11.1
D             300     2.9         7.1
E             210     2.4        12.1
F             220     2.3        13.2
G             170     2.2        14.2
```

In [23]:
# set_index() 메소드를 사용한다.
df_P = df_P.set_index('name')
print(df_P)

      horse power  weight  efficiency
name
A             130     1.9        16.3
B             250     2.6        10.2
C             190     2.2        11.1
D             300     2.9         7.1
E             210     2.4        12.1
F             220     2.3        13.2
G             170     2.2        14.2

2) 가장 높은 마력을 가진 차종을 찾아서 중량과 연비를 확인해 보자

```
      horse power  weight  efficiency
name                                 
D             300     2.9         7.1
```

In [26]:
# 논리 인덱싱
df_P[df_P['horse power'] == df_P['horse power'].max()]

      horse power  weight  efficiency
name
D             300     2.9         7.1

3. 마력과 연비의 곱이 가장 큰 차종을 다음과 같이 찾아보자.
```
      horse power  weight  efficiency  hp x mile
name                                            
F             220     2.3        13.2     2904.0
```

In [31]:
# 'hp x mile' 열을 만든다.
df_P ['hp x mile'] = df_P['horse power'] * df_P['efficiency']
print(df_P)
# 'hp x mile' 중 최대 값을 찾아서 표시한다.
print(df_P[df_P['hp x mile'] == df_P['hp x mile'].max()])

      horse power  weight  efficiency  hp x mile
name
A             130     1.9        16.3     2119.0
B             250     2.6        10.2     2550.0
C             190     2.2        11.1     2109.0
D             300     2.9         7.1     2130.0
E             210     2.4        12.1     2541.0
F             220     2.3        13.2     2904.0
G             170     2.2        14.2     2414.0
      horse power  weight  efficiency  hp x mile
name
F             220     2.3        13.2     2904.0

## 12.3 
다음은 Q 자동차 회사의 차종별 마력, 총 중량 그리고 연비를 나타낸 표이다.

```
'name'        : ['A',   'B',  'C',  'D']
'horse power' : [120,   220,  120,  200]
'weight'      : [ 1.9,  2.1,  1.5,  2.9]
'efficiency'  : [18.3, 19.2, 21.1, 17.3]
```

1) 데이터프레임으로 만들어라.
```
      horse power  weight  efficiency
name                                 
A             120     1.9        18.3
B             220     2.1        19.2
C             120     1.5        21.1
D             200     2.9        17.3
```

In [37]:
# 데이터 프레임 만들기
df_Q = ({
    'name'        : ['A',   'B',  'C',  'D',  'E',  'F', 'G'],
    'horse power' : [ 130,  250,  190, 300,  210,  220,  170],
    'weight'      : [ 1.9,  2.6,  2.2, 2.9,  2.4,  2.3,  2.2],
    'efficiency'  : [16.3, 10.2, 11.1, 7.1, 12.1, 13.2, 14.2]
        })

# 인덱스를 'name`로 고치기
df_Q = df_Q.set_index('name')


# 인쇄하기
print(df_Q)

AttributeError: 'dict' object has no attribute 'set_index'

2) Q 사의 데이터와 P 사의 데이터를 합쳐서 하나로 만들어라.
```
 horse power  weight  efficiency
name                                 
A             130     1.9        16.3
B             250     2.6        10.2
C             190     2.2        11.1
D             300     2.9         7.1
E             210     2.4        12.1
F             220     2.3        13.2
G             170     2.2        14.2
A             120     1.9        18.3
B             220     2.1        19.2
C             120     1.5        21.1
D             200     2.9        17.3
```

In [39]:
# concat() 메소드를 사용한다.
df_PQ = pd.concat([df_P ])
print(df_PQ)

      horse power  weight  efficiency  hp x mile com
name
A             130     1.9        16.3     2119.0   P
B             250     2.6        10.2     2550.0   P
C             190     2.2        11.1     2109.0   P
D             300     2.9         7.1     2130.0   P
E             210     2.4        12.1     2541.0   P
F             220     2.3        13.2     2904.0   P
G             170     2.2        14.2     2414.0   P

3) 제조사를 알 수 있게 다음과 같이 데이터프레임을 만들어 보자,
```
      horse power  weight  efficiency com
name                                     
A             130     1.9        16.3   P
B             250     2.6        10.2   P
C             190     2.2        11.1   P
D             300     2.9         7.1   P
E             210     2.4        12.1   P
F             220     2.3        13.2   P
G             170     2.2        14.2   P
A             120     1.9        18.3   Q
B             220     2.1        19.2   Q
C             120     1.5        21.1   Q
D             200     2.9        17.3   Q
```

In [40]:
# 각 회사 데이터에 회사 이름 열을 추가 한다.
df_P['com'] = 'P'
df_Q['com'] = 'Q'
# 두 데이터프레임을 합친다.
df_PQ = pd.concat([df_P, df_Q])
print(df_PQ)

TypeError: cannot concatenate object of type '<class 'dict'>'; only Series and DataFrame objs are valid

4) 두 회사 차랑을 비교 했을 때 마력x연비의 평균연비를 비교하라.
```
com
P    2395.285714
Q    3103.000000
Name: hp x mile, dtype: float64
```

In [43]:
# 합친 데이터프레임에 'hp x mile'열을 만든다.
df_PQ['hp x mile'] = df_PQ['horse power'] * df_PQ['efficiency']
# 회사별로 데이터를 모은다 - groupby()
# 평균을 구한다 - mean()
df_grouped = df_PQ.groupby('com')
print(df_grouped.mean()['hp x mile'])

NameError: name 'PQ' is not defined

In [41]:
for df in df_grouped:
    prind(df)

NameError: name 'df_grouped' is not defined