In [1]:
phone_book = {}

In [2]:
phone_book["홍길동"] = "010-12324-5678"

In [3]:
print(phone_book)

{'홍길동': '010-12324-5678'}

In [4]:
person_dic = {'Name': '홍길동', 'Age' : 27, 'Class' : '초급'}

In [6]:
print(person_dic['Name'])
print(person_dic['Age'])

홍길동
27

In [7]:
phone_book.keys()

dict_keys(['홍길동'])

In [12]:
phone_book = {'강감찬' : '010-2222-3333', '이순신' : '010-4444-5555'}

In [13]:
phone_book

{'강감찬': '010-2222-3333', '이순신': '010-4444-5555'}

In [14]:
phone_book['홍길동'] =  '010-1234-5678'

In [15]:
phone_book

{'강감찬': '010-2222-3333', '이순신': '010-4444-5555', '홍길동': '010-1234-5678'}

In [18]:
phone_book.values()

dict_values(['010-2222-3333', '010-4444-5555', '010-1234-5678'])

In [19]:
phone_book.items()

dict_items([('강감찬', '010-2222-3333'), ('이순신', '010-4444-5555'), ('홍길동', '010-1234-5678')])

In [20]:
for name, phone_num in phone_book.items():
    print(name,':',phone_num)

강감찬 : 010-2222-3333
이순신 : 010-4444-5555
홍길동 : 010-1234-5678

## 8.1 도전 문제

In [35]:
contact = {'성' : '이', '이름' : '원준', '직장' : '학생'}

In [36]:
contact.items()

dict_items([('성', '이'), ('이름', '원준'), ('직장', '학생')])

In [37]:
for key, value in contact.items():
    print(key, ':', value)

성 : 이
이름 : 원준
직장 : 학생

## -----

In [43]:
phone_book = {'홍길동' : '010-1234-5678', '강감찬' : '010-1234-8990', '이순신' : '010-1234-7788'}

In [49]:
for key, num in phone_book.items():
    print ( key, num )

홍길동 010-1234-5678
강감찬 010-1234-8990
이순신 010-1234-7788

In [51]:
phone_book.get('임꺽정')
phone_book['임꺽정']

KeyError: '임꺽정'

In [60]:
phone_book = {'홍길동' : '010-1234-5678', '강감찬' : '010-1234-8990', '이순신' : '010-1234-7788'}
phone_num = phone_book.pop('홍길동')
print('phone_book =', phone_book)
print('phone_num =', phone_num)

phone_book = {'강감찬': '010-1234-8990', '이순신': '010-1234-7788'}
phone_num = 010-1234-5678

In [63]:
phone_book = {'홍길동' : '010-1234-5678', '강감찬' : '010-1234-8990', '이순신' : '010-1234-7788'}
phone_num = phone_book.popitem()
print('phone_book =', phone_book)
print('phone_num =', phone_num)

phone_book = {'홍길동': '010-1234-5678', '강감찬': '010-1234-8990'}
phone_num = ('이순신', '010-1234-7788')

In [2]:
numbers = {2, 1, 3}
numbers

{1, 2, 3}

In [3]:
a = [1,1,1,1,2,2,2,3,3,4,5,5,6]
set(a)

{1, 2, 3, 4, 5, 6}

In [5]:
set([1,1,1,2,2,33,5,5,5,6])

{1, 2, 5, 6, 33}

In [6]:
numbers = list()

In [7]:
numbers

[]

In [9]:
numbers = {1, 2, 3}
numbers.add(4)
numbers

{1, 2, 3, 4}

In [10]:
numbers.remove(4)
numbers

{1, 2, 3}

In [11]:
a = {1, 2, 3}
b = {1, 2, 3}

a == b

True

In [15]:
a = {1,2,3,4,5}
b = {1,2,3}

b < a

True

In [18]:
a_set = {1, 5, 4, 3, 7, 4}
sorted(a_set)

[1, 3, 4, 5, 7]

In [19]:
A = {1, 2, 3}
B = {3, 4, 5}

In [20]:
A | B

{1, 2, 3, 4, 5}

In [21]:
A.union(B)

{1, 2, 3, 4, 5}

In [22]:
A & B

{3}

In [23]:
A.intersection(B)

{3}

In [24]:
A - B

{1, 2}

In [27]:
A.difference(B)

{1, 2}

In [28]:
A ^ B

{1, 2, 4, 5}

In [30]:
A.symmetric_difference(B)

{1, 2, 4, 5}

In [ ]:
a = { 1, 2, 3}

In [6]:
fruits_dic = {
    '사과' : 0,
    '배': 0,
    '수박' : 0,
    '귤' : 0,
    '포도' :0
}

prices= input("사과, 배, 수박, 귤, 포도, 가격을 공백으로 구분하여 입력: ").split()

fruits_dic['사과'] = int(prices[0])
fruits_dic['배'] = int(prices[1])
fruits_dic['수박'] = int(prices[2])
fruits_dic['귤'] = int(prices[3])
fruits_dic['포도'] = int(prices[4])

print("-------------- 오늘의 과일 가격 -----------------")
for fruits, price in fruits_dic.items():
    print(f"{fruits} {price} 원")

사과, 배, 수박, 귤, 포도, 가격을 공백으로 구분하여 입력:  3000 4500 6000 2400 3400

-------------- 오늘의 과일 가격 -----------------
사과 3000 원
배 4500 원
수박 6000 원
귤 2400 원
포도 3400 원

In [7]:
student_tup = (('241101', '박동윤', '010-1234-4500'), ('241102', '김은지', '010-2230-6540'),
                ('241103', '이지은', '010-3232-7788'))

In [16]:
# 학생 정보를 저장할 딕셔너리 초기화
student = {
    '211101': ['최성훈', '010-1234-4500'],
    '211102': ['김은지', '010-2230-6540'],
    '211103': ['이세은', '010-3232-7788']
}

# 각 학생의 정보를 포맷에 맞게 출력
for student_id, details in student.items():
    name, phone = details
    print(f"{{'{student_id}' : ['{name}', '{phone}']}}")

{'211101' : ['최성훈', '010-1234-4500']}
{'211102' : ['김은지', '010-2230-6540']}
{'211103' : ['이세은', '010-3232-7788']}

In [24]:
student = {'211101' : ['최성훈', '010-1234-4500', 4.3], '211102' : ['김은지', '010-2230-6540', 3.9],
           '211103' : ['이세은', '010-3232-7788', 4.25] }
 
print('학생의 정보 목록')
 
for student_id, details in student.items():
    name, number, score = details
    print(f"{{'{student_id}', '[{name}, {number}, {score}]'}}")

학생의 정보 목록
{'211101', '[최성훈, 010-1234-4500, 4.3]'}
{'211102', '[김은지, 010-2230-6540, 3.9]'}
{'211103', '[이세은, 010-3232-7788, 4.25]'}

In [29]:
score_sum = 0
for stuendt_id, datails in student.items():
    name, number, score = details
    score_sum += score

print(score_sum / 3)

4.25

In [40]:
# 주어진 학생 정보 딕셔너리
student = {
    '211101': ['최성훈', '010-1234-4500', 4.3],
    '211102': ['김은지', '010-2230-6540', 3.9],
    '211103': ['이세은', '010-3232-7788', 4.25]
}

# 학점 합계를 계산할 변수 초기화
total_score = 0

# 학생 수 계산
num_students = len(student)

# 각 학생의 학점을 합계에 더함
for details in student.values():
    total_score += details[2]

# 학점 평균 계산
average_score = total_score / num_students

# 학점 평균 출력
# 학점 평균 출력
print(f"'전체 학생의 학점 평균 :' {average_score:.2f}")

'전체 학생의 학점 평균 :' 4.15