# (4)차 숙제
## 이름: 이원준
## 학번: 20244293

1. 수업에서 중요한 점을 써보자

    1) 리스트는 열 항목들을 모은 자료형이다.
    2) 리스트의 항목은 다양한 자료형의 값이 될 수 있으며 생성과 동시에 [] 내에 항목을 넣으면 된다.
    3) 초기 데이터가 없을 경우 공백 리스트를 만들고 append()를 호출하여 항목을 추가할 수 있다.
    4) 딕셔너리는 키와 값으로 이루어진다.
    5) 딕셔너리에 키를 제시하면 값을 반환한다.
    6) 딕셔너리는 인덱스를 이용하여 접근하지 않고 키를 이용하여 항목에 접근한다.

# 심화문제

## 7.1

다음과 같이 파이썬 프로그램을 실행할 적에, 다음 밑줄 안에 들어갈 알맞은 결과는 무엇인가? 미리 예측해본 후 실행시켜보고 그 결과를 적어라.

In [2]:
num_list = [100, 200, 300, 400, 500, 600, 700, 800]

In [3]:
high = 6

In [4]:
low = 3

In [5]:
num_list[high]

700

In [6]:
num_list[high - 2]

500

In [7]:
num_list[high - low]

400

In [8]:
num_list[high - high]

100

In [9]:
num_list[-1]

800

In [10]:
num_list[-low]

600

In [11]:
num_list[2 * 3]

700

In [12]:
num_list[2] * 3

900

num_list[5 % 4]

In [14]:
len(num_list)

8

In [15]:
min(num_list)

100

In [16]:
max(num_list)

800

In [17]:
num_list[:2]

[100, 200]

In [19]:
num_list[1:5]

[200, 300, 400, 500]

In [20]:
num_list[-1:-5:-1]

[800, 700, 600, 500]

In [21]:
num_list[-5:-1:1]

[400, 500, 600, 700]

## 7.2

다음과 같은 list1, list2가 있을 경우 이중 for 루프를 사용하여 list1과 list2의 각 원소를 곱한 후 원소의 곱셈을 아래와 같이 출력하여라.

In [31]:
list1 = [3, 5, 7]
list2 = [2, 3, 4, 5, 6]

In [64]:
for x in list1:
    for y in list2:
        print(x, "*", y, "=", x*y)

3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42

## 7.4

다음의 코드에서 잘못된 부분은 무엇인가? 어떤 이유에서 오류가 발생하는지 설명하라.

1)

In [38]:
t = (10, 20 ,30, 40)
t.append(50)

AttributeError: 'tuple' object has no attribute 'append'

tuple은 immutable(변경 불가능)한 자료형이다. 따라서 한 번 생성된 tuple은 그 내용을 변경할 수 없다. 또한 tuple에는 append() 메서드가 없어 오류가 발생한다.
위 코드를 실행하기 위해서는 tuple을 list로 변환한 후 작업을 수행하고 다시 tuple로 변환해야 한다. 코드를 수정하면 아래와 같다.

In [39]:
t = (10, 20 ,30, 40)
t = list(t) # tuple을 list로 변환
t.append(50)
t = tuple(t) # 다시 tuple로 변환
print(t)

(10, 20, 30, 40, 50)

2.

In [42]:
t = (10, 20, 30, 40)
t.remove(40)

AttributeError: 'tuple' object has no attribute 'remove'

튜플은 변경 불가능한 자료형이기 때문에 remove() 메서드를 사용할 수 없습니다. remove() 메서드는 리스트에서만 사용 가능하다.

3.

In [44]:
t = (10, 20, 30, 40)
t[0] = 0

TypeError: 'tuple' object does not support item assignment

튜플은 변경 불가능한 자료형이다. 한 번 생성된 튜플의 요소를 변경할 수 없음을 의미한다. 따라서 t[0] = 0과 같은 할당 연산은 허용되지 않는다.

## 7.7

fruit_list = ['banana', 'orange', 'kiwi', 'apple', 'melon'] 라는 리스트가 존재한다. 이 리스트에 대하여 다음과 같은 작업을 수행하여라.

1. 이 fruit_list에서 가장 길이가 긴 문자열을 찾아서 출력하고 이 리스트에서 삭제하라. 이 때 동일한 길이의 문자열이 있을 경우 이들을 모두 삭제하라.

    가장 길이가 긴 문자열 : banana, orange    
    fruit_list = ['kiwi', 'apple', 'melon']

In [63]:
fruit_list = ['banana', 'orange', 'kiwi', 'apple', 'melon']

# 가장 긴 문자열의 길이 계산
max_length = max(len(fruit) for fruit in fruit_list)

# 가장 긴 문자열을 찾아서 출력하고 삭제
longest_fruits = [fruit for fruit in fruit_list if len(fruit) == max_length]
print("가장 긴 문자열:", longest_fruits)

fruit_list = [fruit for fruit in fruit_list if len(fruit) != max_length]

print("삭제된 리스트:")
print(fruit_list)

가장 긴 문자열: ['banana', 'orange']
삭제된 리스트:
['kiwi', 'apple', 'melon']

In [54]:
longest_fruits

['banana', 'orange']

2. 이 fruit_list와 for 제어문을 이용하여 다음과 같은 문장을 출력하여라.

In [65]:
fruit_list = ['banana', 'orange', 'kiwi', 'apple', 'melon']

for fruit in fruit_list:
    print(fruit, ":", "문자열의 길이", len(fruit))

banana : 문자열의 길이 6
orange : 문자열의 길이 6
kiwi : 문자열의 길이 4
apple : 문자열의 길이 5
melon : 문자열의 길이 5

## 8.1

철수네 과일가게는 "사과", "배", "수박", "귤", "포도"를 판매하는 중이다. 매일 매일 입고되는 가격에 따라서 가격이 결정되므로 아침나다 각 과일의 가격을 입력하는 기능을   
만들어서 입력하면 이를 출력하여 다음과 같이 표현하고자 한다. 이와 같은 기능을 수행하는 파이썬 프로그램을 작성하여라. 이때 {'사과' : 3000}과 같이 입력된 값을 키-값의 쌍   
으로 된 fruits_price 딕셔너리에 축가한 후 for 문과 keys() 메소드를 사용하여 출력하도록 하여라.

In [2]:
def input_fruit_price():
    fruits_price = {}

    while True:
        fruit = input("과일의 이름을 입력하세요 (입력을 종료하려면 '그만'을 입력하세요): ")
        if fruit == '그만':
            break
        price = int(input(f"{fruit}의 가격을 입력하세요: "))
        fruits_price[fruit] = price

    return fruits_price

def print_fruit_price(fruits_price):
    print("---------- 오늘의 과일 가격 ----------")
    for fruit in fruits_price.keys():  # keys() 메소드를 사용하여 딕셔너리의 키들을 순회
        print(f"{fruit}: {fruits_price[fruit]}원")

# 과일 가격 입력
fruits_price = input_fruit_price()

# 입력된 과일 가격 출력
print_fruit_price(fruits_price)

과일의 이름을 입력하세요 (입력을 종료하려면 '그만'을 입력하세요):  사과
사과의 가격을 입력하세요:  3000
과일의 이름을 입력하세요 (입력을 종료하려면 '그만'을 입력하세요):  배
배의 가격을 입력하세요:  4500
과일의 이름을 입력하세요 (입력을 종료하려면 '그만'을 입력하세요):  수박
수박의 가격을 입력하세요:  6000
과일의 이름을 입력하세요 (입력을 종료하려면 '그만'을 입력하세요):  귤
귤의 가격을 입력하세요:  2400
과일의 이름을 입력하세요 (입력을 종료하려면 '그만'을 입력하세요):  포도
포도의 가격을 입력하세요:  3400
과일의 이름을 입력하세요 (입력을 종료하려면 '그만'을 입력하세요):  그만

---------- 오늘의 과일 가격 ----------
사과: 3000원
배: 4500원
수박: 6000원
귤: 2400원
포도: 3400원

## 8.3

학번, 이름, 전화번호의 3 쌍의 요소를 가지는 student_tup 라는 튜플이 다음과 같이 존재한다.

In [81]:
student_tup = (('241101', '박동윤', '010-1234-4500'), 
               ('241102', '김은지', '010-2230-6540'), 
               ('241103', '이지은', '010-3232-7788'))

1. 이 튜플을 수정하여 {학번 : [이름, 전화번호]}의 쌍으로 이루어진 딕셔너리를 만들어서 출력하여라.

In [82]:
student_dict = {}

for student in student_tup:
    student_dict[student[0]] = [student[1], student[2]]

print("학생의 정보 목록")

for key, value in student_dict.items():
    print(key, ":", value[0], ",", value[1])

학생의 정보 목록
241101 : 박동윤 , 010-1234-4500
241102 : 김은지 , 010-2230-6540
241103 : 이지은 , 010-3232-7788

2. 이 정보를 이용하여 학생의 학번을 입력으로 받아서 이름과 전화번호를 출력하는 학사 정보 프로그램을 작성하여라.

In [84]:
def create_student_dict(student_tup):
    student_dict = {}
    for student in student_tup:
        student_dict[student[0]] = [student[1], student[2]]
    return student_dict

def print_student_info(student_dict, student_id):
    if student_id in student_dict:
        print(f"학번: {student_id}")
        print(f"이름: {student_dict[student_id][0]}")
        print(f"전화번호: {student_dict[student_id][1]}")
    else:
        print("해당 학번의 학생이 데이터에 없습니다.")

student_dict = create_student_dict(student_tup)

student_id = input("학번을 입력하세요: ")
print_student_info(student_dict, student_id)

학번을 입력하세요:  241103

학번: 241103
이름: 이지은
전화번호: 010-3232-7788

3. student_tup의 마지막 항목을 직전학기의 학점을 추가하여라. 3 학생의 학점은 각각 4.3, 3.9, 4.25이다.   
   이 정보를 바탕으로 다음과 같은 딕셔너리를 만들어서 학생 정보를 출력하여라.

In [87]:
student_tup = (('241101', '박동윤', '010-1234-4500', 4.3), 
               ('241102', '김은지', '010-2230-6540', 3.9), 
               ('241103', '이지은', '010-3232-7788', 4.25))

In [95]:
student_dict = {}

for student in student_tup:
    student_dict[student[0]] = [student[1], student[2], student[3]]

print("학생의 정보 목록")

for key, value in student_dict.items():
    print(key, ":", value[0], ",", value[1], ",", value[2])

학생의 정보 목록
241101 : 박동윤 , 010-1234-4500 , 4.3
241102 : 김은지 , 010-2230-6540 , 3.9
241103 : 이지은 , 010-3232-7788 , 4.25

3. for 반복문과 인덱싱을 통해서 3 학생의 학점의 편균값을 다음과 같이 출력하여라.   전체 학생의 학점 평균 : 4.15

In [97]:
total_grade = 0
for student in student_tup:
    total_grade += student[3]

average_grade = total_grade / len(student_tup)
print(f"전체 학생의 학점 평균: {average_grade:.2f}")

전체 학생의 학점 평균: 4.15

## 8.4

다음과 같이 리스트 데이터가 있다. 이 데이터에서 중복되는 원소는 10, 20, 30이며 각각 2회, 3회, 4회 나타난다.

In [99]:
lst = [10, 30, 40, 50, 30, 30, 20, 20, 20, 10, 30]

1. 이와 같은 자료에 대하여 다음과 같이 중복이 없는 원소를 출력하는 프로그램을 작성하여라.

In [100]:
unique_elements = []
for element in lst:
    if lst.count(element) == 1:
        unique_elements.append(element)
print("중복되지 않는 원소:", unique_elements)

중복되지 않는 원소: [40, 50]

2. 중복되는 원소를 한 번씩만 출력하도록 프로그램을 작성하여라.

In [103]:
unique_elements_once = sorted(set(lst))
print("중복되는 원소를 한 번씩만 출력:", unique_elements_once)

중복되는 원소를 한 번씩만 출력: [10, 20, 30, 40, 50]

3. 다음과 같이 중복출현 빈도를 출력하여라.

In [104]:
frequency_dict = {}
for element in sorted(lst):
    if element in frequency_dict:
        frequency_dict[element] += 1
    else:
        frequency_dict[element] = 1

print("중복 출현 빈도:")
for element, frequency in frequency_dict.items():
    print(f"{element}: {frequency}회")

중복 출현 빈도:
10: 2회
20: 3회
30: 4회
40: 1회
50: 1회