# 05 여러번 반복하는 일을 하자.

## 5.1 
for 반복문을 이해하기 위해 다음과 같이 여러 수에서 특정한 수를 뽑아 내어 보자.

1). for 반복문과 range()를 이용하여 1에서 100까지의 수 중에서 홀수를 아래와 같이 출력하는 프로그램을 작성하여라.
```
1에서 100까지의 정수 중 홀수는 :
1 3 5 7 9 11 13 15 17 19 21 23 25 27 29 31 33 35 37 39 41 43 45 47 49 51 53 55 57 59 61 63 65 67 69 71 73 75 77 79 81 83 85 87 89 91 93 95 97 99
```

In [9]:
s = 0
for i in range(1, 101):
    if i % 2 ==1:
        print (i, end = ' ')

1 3 5 7 9 11 13 15 17 19 21 23 25 27 29 31 33 35 37 39 41 43 45 47 49 51 53 55 57 59 61 63 65 67 69 71 73 75 77 79 81 83 85 87 89 91 93 95 97 99

2). while 반복문을 사용하여 1에서 100까지의 수 중에서 홀수를 출력하는 프로그램을 작성하여라.

In [13]:
s = 0
while s < 101:
    if s % 2 ==1:
        print(s, end = ' ')
    s += 1

1 3 5 7 9 11 13 15 17 19 21 23 25 27 29 31 33 35 37 39 41 43 45 47 49 51 53 55 57 59 61 63 65 67 69 71 73 75 77 79 81 83 85 87 89 91 93 95 97 99

3). 앞에서 만들어 본 1), 2)의 코드를 변형하여 for 반복문과 while 반복문을 사용하여 1에서 100사이의 수 중에서 짝수를 출력하는 프로그램을 각각 작성하여라.
```
1에서 100까지의 정수 중 짝수는: 
2 4 6 8 10 12 14 16 18 20 22 24 26 28 30 32 34 36 38 40 42 44 46 48 50 52 54 56 58 60 62 64 66 68 70 72 74 76 78 80 82 84 86 88 90 92 94 96 98 100
```

In [15]:
for i in range(1,101,2):
    print(i, end=' , ')

1 , 3 , 5 , 7 , 9 , 11 , 13 , 15 , 17 , 19 , 21 , 23 , 25 , 27 , 29 , 31 , 33 , 35 , 37 , 39 , 41 , 43 , 45 , 47 , 49 , 51 , 53 , 55 , 57 , 59 , 61 , 63 , 65 , 67 , 69 , 71 , 73 , 75 , 77 , 79 , 81 , 83 , 85 , 87 , 89 , 91 , 93 , 95 , 97 , 99 ,

## 5.2 
반복문을 활용하여 특정 구간의 수의 합을 구할 수 있다.

1). for 반복문과 while 반복문을 사용하여 1에서 100까지의 정수 중에서 홀수의 합을 출력하는 프로그램을 작성하여라.
```
1에서 100까지의 수중 홀수의 합: 2500
```

In [16]:
s = 0
for i in range(1, 100, 2):
    s = s + i
print(s)

2500

2). for 반복문과 while 반복문을 사용하여 1에서 100까지의 정수 중에서 짝수의 합을 출력하는 프로그램을 작성하여라.
```
1에서 100까지의 수중 짝수의 합: 2500
```

In [17]:
s = 0
for i in range(2, 101, 2):
    s = s + i
print(s)

2550

In [19]:
p = 1
for i in range(1, 10, 2):
    p *= i
print(p)

945

3). 사용자로부터 시작 정수와 끝 정수를 입력으로 받은 다음 시작 정수 값에서 끝 값까지의 합을 구하여 다음과 같이 출력하는 프로그램을 작성하여라.
```
시작 정수를 입력하세요:  2
끝 정수를 입력하세요:  6
2 에서 6 까지 정수의 합: 20
```

In [20]:
n1 = 2
n2 = 6

s = 0
for i in range(n1,n2+1):
    s = s + i
print(s)

20

## 5.3
맛나 식당의 메뉴 주문 프로그램을 개발하고자 한다. 이를 위하여 사용자에게 다음과 같은 1), 2), 3)의 메뉴를 보여주고 이 중에서 하나를 선택하도록 하자. 이때 아래 보기와 같이 메뉴에 없는 5, 6, 0과 같은 숫자가 입력되면 '메뉴를 다시 입력하세요:'가 출력되도록 한 후 다시 입력을 받도록 하자.
```
맛나 식당에 오신 것을 환영합니다. 메뉴는 다음과 같습니다.
1) 햄버거
2) 치킨
3) 피자
1에서 3까지의 메뉴를 선택하세요 : 5
메뉴를 다시 입력하세요: 6
메뉴를 다시 입력하세요: 0
메뉴를 다시 입력하세요: 2
치킨을 선택했습니다.
```

In [30]:
print("맛나 식당에 오신 것을 환영합니다. 메누는 다음과 같습니다. \n 1) 햄버거 \n 2) 치킨 \n 3) 피자")
menu = int(input("1에서 3까지의 메뉴를 선택하세요:"))
while menu < 1 or menu > 3:
    menu = (int(input('메뉴를 다시 입력하세요')))

if menu == 1:
    print("햄버거")
if menu == 2:
    print("치킨")
if menu == 3:
    print("피자")

맛나 식당에 오신 것을 환영합니다. 메누는 다음과 같습니다.
 1) 햄버거
 2) 치킨
 3) 피자

1에서 3까지의 메뉴를 선택하세요: 6
메뉴를 다시 입력하세요 6
메뉴를 다시 입력하세요 6
메뉴를 다시 입력하세요 3

피자

## 5.4 
사용자로 부터 정수를 입력받아 다음과 같은 삼각형을 출력하는 프로그램을 작성하여라. 이때 숫자 5가 입력되면 높이가 5이고 제일 마지막 줄의 별이 5개가 삼각형 형태로 나타나도록 하여라.

```
숫자를 입력하세요:  5
    *
   **
  ***
 ****
*****
```

In [34]:
for i in rnage(1, 6):
        (' ' * i + '*' * s)
        print (s)

NameError: name 'rnage' is not defined

## 5.5
깊이가 30 미터인 우물이 있다. 이 우물에 사는 달팽이는 하루 종일 기어서 올라가면 7미터를 올라갈 수 있다. 그러나 밤이 되어 휴식을 취하는 동안 5미터를 미끄러져 내려간다. 이 우물을 벗어나는데 며칠의 시간이 걸릴까? while 문을 이용하여 매일 저녁 달팽이의 위치를 다음과 같이 구하라(주의: 하루에 7 - 5 = 2 미터를 올라갈 것이라고 단순 계산하면 안된다. 이 경우 15일 되는 날 탈출하는 것으로 계산되지만 실제로는 13일이면 된다.) 출력시 format() 메소드를 사용하여 숫자들이 오른쪽 정렬이 되도록 하자.
```
day :  1 달팽이의 위치 :  7 미터
day :  2 달팽이의 위치 :  9 미터
day :  3 달팽이의 위치 : 11 미터
day :  4 달팽이의 위치 : 13 미터
day :  5 달팽이의 위치 : 15 미터
day :  6 달팽이의 위치 : 17 미터
day :  7 달팽이의 위치 : 19 미터
day :  8 달팽이의 위치 : 21 미터
day :  9 달팽이의 위치 : 23 미터
day : 10 달팽이의 위치 : 25 미터
day : 11 달팽이의 위치 : 27 미터
day : 12 달팽이의 위치 : 29 미터
day : 13 달팽이의 위치 : 31 미터
축하합니다. 우물을 탈출하였습니다.
우물을 탈출하는 데 걸린 날은 13 일입니다.
```

In [7]:
day = 1
position = 0
 
while True:
    position += 7
    if position > 30: break
    print(f'day : {day:3d} 달팽이의 위치 :{position:3d} 미터') 
    day += 1
    position -= 5

day :   1 달팽이의 위치 :  7 미터
day :   2 달팽이의 위치 :  9 미터
day :   3 달팽이의 위치 : 11 미터
day :   4 달팽이의 위치 : 13 미터
day :   5 달팽이의 위치 : 15 미터
day :   6 달팽이의 위치 : 17 미터
day :   7 달팽이의 위치 : 19 미터
day :   8 달팽이의 위치 : 21 미터
day :   9 달팽이의 위치 : 23 미터
day :  10 달팽이의 위치 : 25 미터
day :  11 달팽이의 위치 : 27 미터
day :  12 달팽이의 위치 : 29 미터

## 5.6
다음과 같이 자동차의 연료 탱크 프로그램을 시뮬레이션하여 보자. 초기 연료의 양은 500으로 두자. 사용자가 주행을 하면 연료가 줄어들고 충전을 하면 연료가 증가한다. 이 때 연료의 사용과 충전은 -/+ 기호와 함께 입력하도록 한다. 반복문을 사용하여 사용자로부터 충전 또는 사용한 연료를 입력받아서 현재 남아있는 양을 계속 출력하고, 연료 탱크에 남아 있는 연료가 10% 미만이면 경고를 출력하고 프로그램 수행을 마친다.
```
충전 또는 사용한 연료를 +/- 기호와 함께 입력하시오: +60
현재 탱크 양은 560 입니다.
충전 또는 사용한 연료를 +/- 기호와 함께 입력하시오: -300
현재 탱크 양은 260 입니다.
충전 또는 사용한 연료를 +/- 기호와 함께 입력하시오: -220
현재 탱크 양은 40 입니다.
경고: 연료가 10% 미만이니 충전하세요!
```

## 5.7
암스트롱 수란 xyz로 표시되는 세 자리의 정수 중에서 각 자리의 수를 세제곱한 수의 합과 자신이 같은 수를 말하며 다음과 같은 조건을 만족한다.
$$x*100+y*10+z=x^3+y^3+z^3$$
구체적인 예를 들면 153은 1 + 125 + 27의 합으로 구성될 수 있는데 이러한 수가 암스트롱 수 이다. 세 자리 정수들 중에서 모든 암스트롱 수를 구하여 다음과 같이 출력하여라.

```
세 자리의 암스트롱 수: 153 370 371 407
```

In [12]:
print('세 자리의 암스트롱 수: ', end=' ')
for n in range(100, 1000):
    x = n // 100
    y = (n % 100) // 10
    z = n % 10
    if n == (x**3 + y**3 + z**3):
        print(n, end=' ')

세 자리의 암스트롱 수:  153 370 371 407

## 5.8 
거꾸로 정수는 121이나 3443와 같이 거꾸로 나열해도 그 값이 원래의 값과 같은 정수를 말한다. 사용자로부터 임의의 양의 정수를 이력받아 이 수가 거꾸로 정수인지 아닌지를 판단하는 다음과 같은 프로그램을 작성하여라. 입력받을 때 -99가 들어올 경우 더 이상 입력을 받지 않는다.
```
정수를 입력하시오 :  3443
3443 은(는) 거꾸로 정수입니다.
정수를 입력하시오 :  324
324 은(는) 거꾸로 정수가 아닙니다.
정수를 입력하시오 :  -99
프로그램을 종료합니다.
```

## 5.9
사용자로부터 임의의 양의 정수를 입력받아 다음과 같이 입력된 정수의 개수와, 가장 큰 값, 가장 작은 값을 출력하도록 하자. 입력을 받을 때 -99가 들어올 경우 더 이상 입력을 받지 않는다.

```
정수를 입력하시오: 34
정수를 입력하시오: 920
정수를 입력하시오: 320
정수를 입력하시오: 30
정수를 입력하시오: -99
4 개의 유효한 정수 중 가장 큰 정수는 920 이고, 가장 작은 정수는 30 입니다.

In [23]:
import math
max_n = 0
min_n = math.inf
cnt = 0
while True:
    n = int(input("정수를 입력하시오: "))
    if cnt == : break
    cnt += 1
    if n > max_n:
        max_n = n
    if n < min_n:
        min_n = n
cnt, max_n, min_n

정수를 입력하시오:  45
정수를 입력하시오:  234
정수를 입력하시오:  234
정수를 입력하시오:  1325
정수를 입력하시오:  1234
정수를 입력하시오:  4362
정수를 입력하시오:  -99

(6, 4362, 45)

## 5.10
4장의 도전문제를 개선하여 다음과 같은 랜덤한 패턴의 그림을 그리는 터틀 그래픽 프로그램을 작성하라. 거북이는 총 30회 이동한다.

# 06 함수로 일처리를 짜임새있게 하자

## 6.1 
n이라는 이름의 매개변수를 입력으로 받아서 이 값의 제곱 값을 반환하는 square(n) 함수를 정의하고 이 함수를 호출하여 3과 4의 제곱을 출력하고자 한다. 밑줄 친 부분에 들어갈 알맞은 코드를 채우고 전체 코드를 실행하여라.
```
def square(n):
    return ______________
print('3의 제곱은 : ', ____________)
print('4의 제곱은 : ', ____________)

In [24]:
def square(n):
    return n ** 2
print('3의 제곱은 : ', square(3))
print('4의 제곱은 : ', square(4))

3의 제곱은 :  9
4의 제곱은 :  16

## 6.2
m과 n이라는 이름의 매개변수를 두 개 입력받아서 이 두 값 중에서 큰 값을 반환하는 max2(m, n) 함수와 작은 값을 반환하는 min2(m, n) 함수를 구현하여라. 100과 200을 인자로 넣어서 호출하여 그 결과를 확인하라. 이를 위하여 밑줄 친 부분에 들어갈 알맞은 코드를 채우고 전체 코드를 실행하여라.
```
def max2(m, n):
    if __________ :
        return __________
    else:
        return __________
def min2(m, n):
    if __________ :
        return __________
    else:
        return __________
print('100과 200중 큰 수는:', __________)
print('100과 200중 작은 수는:', __________)

In [27]:
def max2(m, n):
    if m > n :
        return m
    else:
        return n
def min2(m, n):
    if m > n :
        return n
    else:
        return m
print('100과 200중 큰 수는:', max2(100, 200))
print('100과 200중 작은 수는:', min2(100, 200))

100과 200중 큰 수는: 200
100과 200중 작은 수는: 100

## 6.3
n1, n2, n3라는 이름의 매개변수를 3개 입력받아서 이 값 중에서 가장 큰 값을 반환하는 max3(n1, n2, n3) 함수와 가장 작은 값을 반환하는 min3(n1, n2, n3) 함수를 구현하여라. 사용자로부터 임의의 정수 3개를 입력으로 받아서 이 함수를 호출하여 다음과 같은 출력을 내 보이도록 하여라.

```
세 수를 입력하시오: 34 66 20
가장 큰 수: 34
가장 작은 수: 20

In [29]:
def max3(n1, n2, n3):
    max_n = n1
    for n in [n2, n3]:
        if max_n < n:
            max_n = n
    return max_n

## 6.4
n1, n2, n3라는 이름의 매개변수를 3개 입력받아서 이 값들 중에서 가장 큰 값과 작은 값을 반환하는 max_and_min(n1, n2, n3) 함수를 return 문을 사용하여 구현하여라. 사용자로부터 임의의 정수 3개를 입력으로 받아서 이 함수를 호출하여 다음과 같은 출력을 내 보이도록 하여라.

```
세 수를 입력하시오: 34 66 20
가장 큰 수: 66
가장 작은 수: 20

## 6.5
섭씨온도(celsius)를 화씨온도(fahernheit)로 변환하는 식은 다음과 같다. 

fahrenheit = (9/5) * celcius + 32

이 식을 바탕으로 섭씨온도를 0도에서 50까지 10도 단위로 증가시키면서 이에 해당하는 화씨온도를 출력하는 프로그램을 작성하여라. 이를 위하여 섭씨온도를 인자로 받아서 화씨온도를 반환하는 `cel2fah(cel)` 함수를 만들어라.

## 6.6
임의의 수를 입력으로 받은 다음 이 수가 소수인지 아닌지를 판단하는 함수 `is_prime(n)`을 작성하여라. 만일 $n$이 소수이면 True, 그렇지 않으면 False를 반환하도록 하여라(힌트: 소수는 1과 자기 자신이외에는 약수를 갖지 않는다. 따라서 어떤수 $n$을 2에서 부터 $n-1$까지의 수로 나누어 보면 소수인지 확인할 수 있다. 만일 중간에 $n$을 나눌 수 있는 수가 있다면 이 수는 소수가 아니다).
```
소수 검사를 할 정수를 입력하시오: 9677
소수인가요?: True
소수 검사를 할 정수를 입력하시오: 13
소수인가요?: True
소수 검사를 할 정수를 입력하시오: 4
소수인가요?: False
소수 검사를 할 정수를 입력하시오: 12347987345345
소수인가요?: False

## 6.7
$n!$은 $n*(n-1)*(n-2)...2*1$의 식으로 표현되는 값이다. 양의 정수 $n$을 매개변수로 받아서 팩토리얼 값을 반환하는 `factorial(n)` 함수를 구현하여라. 이 함수를 재귀 함수를 사용하지 말고 for 문을 사용하여 작성하여라. 이함수를 이용하여 `factorial(5)`, `factorial(7)`, `factorial(10)`의 값을 출력하는 출력문을 구현하여라.

## 6.8
사용자로부터 $x_1$, $y_1$, $x_2$, $y_2$의 값을 받아들인 다음 $(x_1, y_1)$ 좌표에서 $(x_2, y_2)$ 좌표를 잇는 직선의 거리를 출력하고자 한다. `distance(x1, y1, x2, y2)`를 구현하고 이 함수를 호출하여 다음과 같이 화면에 직선과 거리를 출력하도록 하여라.

```
x1 :  4
y1 :  2
x2 :  2
y2 :  1
(4.0, 2.0) 과 (2.0, 1.0) 사이의 거리는 2.23606797749979

## 6.9
반지름이 $r$인 원의 넓이와 둘레를 한 번에 계산해서 반환하는 함수 `area_and_circumference(r)`을 작성하여라. 이 함수를 이용하여 다음과 같이 사용자가 입력한 반지름을 가진 원의 넓이와 둘레의 길이를 출력하는 프로그램을 작성하여라. 이때 양의 값이 입력되면 넓이와 둘레를 구하고 나서 새 반지름 값을 입력받도록 하며, -1이 입력되면 "프로그램을 종료합니다."를 출력한 후 프로그램을 중지하여라. 이때 반드시 while문과 break 문을 사용하여라.
```
반지름을 입력하시오 (-1이 입력되면 종료):  6
원의 넓이: 113.10, 원의 둘레: 37.70
반지름을 입력하시오 (-1이 입력되면 종료):  4
원의 넓이: 50.27, 원의 둘레: 25.13
반지름을 입력하시오 (-1이 입력되면 종료):  -1
프로그램을 종료합니다.

In [32]:
def area_and_circumference(r):
    area = 3.14 * r ** 2
    circum = 2 * 3.14 * r
    return area, circum
    r = float(input("반지름을 입력하시오 (-1이 입력되면 종료):"))
    if r == -1:break
    area, circ = area_and_circumference(5)
    print(f'원의 넓이: {area:7.2f}, 원의 둘레: {circ:7.2f})

SyntaxError: unterminated string literal (detected at line 8) (380488614.py, line 8)